@import '../../styles.css';

  @media (max-width: 768px) {
    .about-picture {
      width: 250px;
    }
  }
  
  .about-picture{
    max-width: 820px;
    margin: 0.5rem 0rem 2rem 0rem;
  }

  .default-highlight{
        font-size: 1.2rem !important;
        max-width: max-content;
  }
  .default-p{
        font-size: 1.2rem !important;
        max-width: max-content;
  }

  @media (min-width: 768px) {
  .forImage {
    /* margin-left: 35% !important; */
    max-width: 320px !important;
  }
}

  .about-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
