<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Languages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p class="default-p">Conversational <strong><span class="default-highlight">English</span></strong></p>
        <!-- <p>Advanced <strong><span class="default-highlight">Spanish</span></strong></p> -->
        <p class="default-p">Native <strong><span class="default-highlight">Tamil</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Education</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p class="default-p">(2017 - 2021) <strong><span class="default-highlight">BE Electronics and Communication Engineering (ECE)</span></strong> - 76.8%</p>
        <!-- <ul class="default-p"> -->
          <p class="default-p">Kongunadu College of Engineering and Technology</p>
        <!-- </ul> -->
        <p class="default-p">(2016 - 2017)  <strong><span class="default-highlight">HSC (BIO-MATHS) –</span></strong> 91.5%</p>
       <p class="default-p">
        Little Angels Higher Secondary School
       </p>
        <!-- <ul class="default-p">
          <li class="default-p">Thesis | TOR Network and non-state actors: an analysis of Power Diffusion in three dimensions</li>
        </ul> -->
        <p class="default-p">(2014 - 2015) <strong><span class="default-highlight">SSLC</span></strong> - 91.6%</p>
        <!-- <ul class="default-p"> -->
          <!-- <li class="default-p">Little Angels Higher Secondary School</li> -->
           <p class="default-p">Little Angels Higher Secondary School</p>
        <!-- </ul> -->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Technical</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p class="default-p">RedMind Technologies - <strong><span class="default-highlight">Software Engineer</span></strong> - (Aug 2023 - May 2025) </p>
        <ul class="default-p">
          <li class="default-p" style="text-align: justify;">
            I’m a Software Engineer specializing in frontend development using the Angular framework. I work with Angular, HTML, CSS, TypeScript, RxJs and NGXS state management to build responsive, scalable and user-friendly web applications.
          </li>
        </ul>
        <p class="default-p">ShopMate E-commerce Website - <strong><span class="default-highlight">Full-Stack Developer</span></strong> - (June 2025 – Sept 2025)</p>
        <ul class="default-p">
          <li class="default-p" style="text-align: justify;">
        I developed ShopMate, a full-stack e-commerce website using the MEAN stack, implementing the frontend with Angular and building backend APIs using Node.js and Express.js, with MongoDB as the database to manage products, user authentication, and orders. The project emphasizes creating a scalable, responsive, and user-friendly shopping platform.       </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techs I use</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <!-- <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div> -->
        <!-- <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-hibernate-plain-wordmark colored"></i>
        </div> -->
       
        
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
         <div class="tech-cell">
         <img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/tailwindcss.svg" alt="Tailwind CSS" class="tech-icon" />
        </div>
         <div class="tech-cell">
          <i class="devicon-nodejs-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
        <img src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/express.svg" alt="Express.js" class="tech-icon" />
        </div>

         <div class="tech-cell">
          <i class="devicon-mongodb-plain-wordmark colored"></i>
        </div>
        <!-- <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-flask-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-poetry-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-selenium-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-playwright-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kubernetes-plain colored"></i>
        </div> -->
         <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <!-- <div class="tech-cell">
          <i class="devicon-jira-plain colored"></i>
        </div> -->
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
        <!-- <div class="tech-cell">
          <i class="devicon-intellij-plain colored"></i>
        </div> -->
      </div>
    </mat-expansion-panel>

      <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Current Upskilling </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
                <p class="default-p">Frontend <strong><span class="default-highlight">React</span></strong></p>
        <p class="default-p">Backend <strong><span class="default-highlight">Node.js</span></strong></p>
        <!-- <p>Advanced <strong><span class="default-highlight">Spanish</span></strong></p> -->
        <p class="default-p">Database <strong><span class="default-highlight">MongoDB</span></strong></p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>