<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Manikandan Saravanan, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote style="text-align: justify;">
            I am a Frontend Developer with nearly 2 years experience in building software. My coding skills to craft accessible, scalable and high-performance applications.
        </blockquote>
        <blockquote style="text-align: justify;">
            Currently, I’m expanding my skill set to become a MEAN stack developer, gaining hands-on experience with MongoDB, Express.js, Angular, and Node.js to build complete end-to-end web solutions.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Projects
            </a>
        </button>
      </div>
    </div>
  </div> 